

#pad{
  margin: 10px 10px;
  display: inline;
}

thead{
  font-size: small;
}

table{
  background-color: #1e2a47;
  color: white;
  width: 95vw;
}
th{
  font-size: calc(5vw/2);
}
table tr{
  border-bottom: 1px solid orange;
}
td{
  font-size: calc(5vw/3);
  font-weight: 600;
  padding: 10px 10px;
  
}
thead th{
  padding: 20px 20px;
}
tr:hover{
  background-color: #1e1446;
}
.heading{
  font-size: 3vw;
  margin-bottom: 5vh;
  font-weight: 700;
  color:#f39c12
}

table{
  border-collapse: collapse;
  border-radius: 20px;
  border-style: hidden; 
  box-shadow: 0 0 0 2px #f39c12; 
  margin-bottom: 5vh;
}

table thead th:first-child{
  border-top-left-radius: 20px;
}

table thead th:last-child{
  border-top-right-radius: 20px;
}

table tbody tr:last-child td:first-child{
  border-bottom-left-radius: 20px;
}

table tbody tr:last-child td:last-child{
  border-bottom-right-radius: 20px;
}

table thead{
  background-color: black;
}
